.example::-webkit-scrollbar {
  display: none;
}

.cart-dropdown {
  position: absolute;
  width: 280px;
  height: 375px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 80px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
  }

  button {
    margin-top: auto;
  }
}
